rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    allow write: if false;
    allow read: if request.auth != null;

    // Match any document in the 'status' collection
    match /status/{status} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Match any document in the 'hanzi' collection
    match /hanzi/{hanzi} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}